.Header {
  background-color: #151516;
  position: relative;
}
.Header .logo {
  background: #000;
  width: 205px;
  padding: 10px;
  font-size: 22px;
  position: absolute;
  top: 14px;
}
.Header .logo > a {
  display: block;
  color: #f0f0f0;
}
.Header .logo img {
  animation: rotate360 5s infinite;
  width: 40px;
  float: left;
}
.Header .logo span {
  display: block;
  float: left;
  line-height: 45px;
  padding-left: 10px;
}
.Header .Navigation {
  margin-top: 95px;
}
.Header .Navigation > ul > li {
  line-height: 26px;
  margin: 5px 0;
  font-size: 16px;
}
.Header .Navigation > ul > li:nth-child(1) > a,
.Header .Navigation > ul > li:nth-child(4) > a {
  width: 55px;
}
.Header .Navigation > ul > li:nth-child(2) > a,
.Header .Navigation > ul > li:nth-child(5) > a {
  width: 60px;
}
.Header .Navigation > ul > li:nth-child(3) > a,
.Header .Navigation > ul > li:nth-child(6) > a {
  width: 73px;
}
.Header .Navigation > ul > li > a {
  display: block;
  transition: .2s all ease;
  background-color: #2a87cd;
  color: #fff;
  text-align: center;
  box-shadow: -2px 0 2px 0 #000 inset;
  float: right;
}
.Header .Navigation > ul > li > a.active,
.Header .Navigation > ul > li > a:hover {
  background-color: #78bc32;
}
.Header .Footer {
  margin: 130px 0px 0 0;
  color: #969b94;
  text-align: right;
  font-size: 10px;
  transform: scale(0.8);
}
.Header .Footer > p {
  margin: 2px 0;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
