.Header {
	background-color: #151516;
	.logo {
		background: #000; width: 205px; padding: 10px; font-size: 22px; margin-top: 14px;
		> a {
			display: block; color: #f0f0f0;
		}
		img {
			animation: rotate360 5s infinite; width: 40px; float: left;
		}
		span {
			display: block; float: left; line-height: 45px; padding-left: 10px;
		}
	}
	.Navigation {
		> ul {
			> li {
				line-height: 26px; margin: 5px 0; font-size: 16px;
				&:nth-child(1), &:nth-child(4){
					> a {
						width: 55px;
					}
				}
				&:nth-child(2), &:nth-child(5) {
					width: 60px;
				}
				&:nth-child(3), &:nth-child(6) {
					width: 73px;
				}
				> a {
					display: block; transition: .2s all ease; background-color: #2a87cd; color: #fff; text-align: center;  box-shadow: -5px 0 0 0 #000 inset;
					&.active, &:hover {
						background-color: #78bc32;
					}
				}
			}
		}
	}
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}